.Header {
	margin-bottom: 1.45rem;

	background: var(--headerBg);

	&-Content {
		max-width: 960px;
		margin: 0 auto;
		padding: 1.45rem 1.0875rem;
	}

	&-Title {
		margin: 0;
	}

	&-Link {
		color: var(--textColorInverse) !important;
		text-decoration: none;
	}
}
